* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #1b1717;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(#810000, #ce1212);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px #1b1717;
  z-index: 10;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration-style: solid;
  text-decoration: line-through;
  text-decoration-color: black;
  opacity: 0.6;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ce1212;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  margin: 30px 0 30px 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(#810000, #ce1212);
  color: #fff;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
  color: #fff;
  background: #ce1212;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.todo-button-completeAll {
  padding: 16px;
  margin: 16px 0 0 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(#810000, #ce1212);
  color: #fff;
  text-transform: capitalize;
}
.todo-more-left {
  color: #1b1717;
  font-family: 'Lucida Sans';
}
